/* Add your own custom styling here */

:root {
  /* Slightly less whitespace and smaller font vs. simple.css */
  --base-fontsize: 1rem;
  --line-height: 1.4;
  --header-scale: 1.2;
}

@media (prefers-color-scheme: dark) {
  /* Force simple.css to use light mode to avoid issue with white flashes between pages */
  :root {
    --bg: #FFF;
    --accent-bg: #F5F7FF;
    --text: #212121;
    --text-light: #585858;
    --border: #D8DAE1;
    --accent: #0D47A1;
    --accent-light: #90CAF9;
    --code: #D81B60;
    --preformatted: #444;
    --marked: #FFDD33;
    --disabled: #EFEFEF;
  }
}

.anchor-link {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--text-light);
}

.anchor-link:hover {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--accent);
}

header {
  /* Make nav less tall vs. simple.css */
  padding: unset;
  /* Align nav items left instead of center vs. simple.css */
  text-align: left;
}

nav a {
  /* Remove extra margin for a links in nav vs. simple.css */
  margin: unset;
  margin-left: 1rem;

}

body {
  /* Make width wider for handbook use case vs. simple.css */
  max-width: 1200px;
}