/* Add your own custom styling here */

.anchor-link {
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #eeeeee;
}

.anchor-link:hover {
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #0d6efd;
}
