/* Add your own custom styling here */

:root {
  /* Slightly smaller font vs. simple.css */
  --base-fontsize: 1rem;
}

@media (prefers-color-scheme: dark) {
  /* Different link color vs. simple.css */
  :root {
    --accent: #79c0ff;;
    --accent-light: #cae8ff;
  }
}

.anchor-link {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--text-light);
}

.anchor-link:hover {
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--accent);
}

header {
  /* Make nav less tall vs. simple.css */
  padding: unset;
  /* Align nav items left instead of center vs. simple.css */
  text-align: left;
}

nav a {
  /* Remove extra margin for a links in nav vs. simple.css */
  margin: unset;
  margin-left: 1rem;

}

body {
  /* Make width wider for handbook use case vs. simple.css */
  max-width: 1200px;
}